#video-background {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            overflow: hidden;
            z-index: 1;
            width: 100%;
        }

.jumbotron {
  position: relative;
  overflow: hidden;
  padding: 30px 30px 30px 30px;
  margin: 30px 30px 30px 30px;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.btn  {
    background-color: transparent;
    color: white;
}


#container
{
    height:2000px;   
    margin-top: 50rem; 
    padding-top: 50rem;
}

#container DIV
{ 
    margin:50px; 
    padding:50px; 
    background-color:pink; 
}

.hideme
{
    opacity:0;
}