#video-background {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            overflow: hidden;
            z-index: 1;
            width: 100%;
        }

.jumbotron {
  position: relative;
  overflow: hidden;
  margin-top: 30rem;
  padding-top: 30rem;
  width: 50vw;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
  
}

.btn  {
    background-color: transparent;
    color: white;
}


#container
{
    height:2000px;   
    margin-top: 50rem; 
    padding-top: 50rem;
}


.hideme
{
    opacity:0;
}